/* FONTS */
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/background-size */

h1 {
  color: rgb(82, 118, 60);
  font-family: "Cal Sans", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}
h2,
h3,
h4,
h5,
p,
figcaption,
button {
  color: rgb(0, 0, 0);
  font-family: "Cal Sans", sans-serif;
  display: flex;
}
button {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}
.gridAround {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border: 5px green solid;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
#intro-Top {
  background-color: rgb(197, 197, 197);
  border-style: ridge;
  border-radius: 10px;
  border-width: 10px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.rankingBox {
  background-color: rgb(80, 81, 82);
  border: 10px white ridge;
  border-radius: 10px;
  width: 500px;
  height: 500px;

}
#playList2 {
  display: flex;
  color: orange;
  padding: 20px;
  justify-content: center;
  align-items:center;
}
#playList {
  margin: 10px;
  color: aqua;
}
figure {
  display: inline-block;
  text-align: center;
}
figure img {
  width: 15vw;
  height: auto;
}
.figCaptionContainer {
  text-align: center;
  border: 1px red solid;
}
.albumTile {
  background-color: rgb(133, 133, 133);
  border-style: ridge;
  border-radius: 10px;
  border-width: 10px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gridContainerButtons {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  border: 5px red solid;
  margin: 50px;
}
.buttonBoxChange {
  justify-items: center;
}
.buttonBoxToggle {
  justify-items: center;
}
.buttonBoxSwitch {
  justify-items: center;
}
#changeMe {
  background-color: blue;
  width: 150px;
  height: 150px;
}

#toggleMe {
  background-color: yellow;
  width: 150px;
  height: 150px;
}
#switchMe {
  background-color: black;
  width: 150px;
  height: 150px;
}
