/* FONTS */
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/background-size */

h1 {
  color: rgb(82, 118, 60);
  font-family: "Cal Sans", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}
h2,
h3,
h4,
h5,
p,
figcaption,
button {
  color: rgb(0, 0, 0);
  font-family: "Cal Sans", sans-serif;
  display: flex;
}
button {
  background-color: rgb(92, 133, 104);
  padding: 10px;
  margin: 10px;
}
.gridAround {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#intro-Top {
  background-color: rgb(197, 197, 197);
  border-style: ridge;
  border-radius: 10px;
  border-width: 10px;
  margin: 10px auto;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#playList {
  margin: 10px;
}
figure {
  display: inline-block;
  text-align: center;
}
.figCaptionContainer {
  text-align: center;
  border: 1px red solid;
}
.albumTile {
  background-color: rgb(133, 133, 133);
  border-style: ridge;
  border-radius: 10px;
  border-width: 10px;
  margin: 10px auto;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#changeMe {
  background-color: blue;
  width: 150px;
  height: 150px;
}
