/* FONTS */

@font-face {
  font-family: Roboto;
  src: url(/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: RubikBlack;
  src: url(fonts/Rubik-Black.ttf);
}


html {
  font-size: 20px;
}

body {
  background-color: rgb(231, 231, 231);
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #E9B3FB;
}

a:visited {
  color: palevioletred;
}

a:hover {
  color: #FFF1F1;
}

/* Table styling with different font */
table {
  font-family:fantasy;
  border-collapse: collapse;
  border: 1px solid #2f68c4;
}

tr, th, td, caption {
  border: 1px solid #2f68c4;
  padding: 0.5rem;
}
thead {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tbody {
  color: white;
  background-color: rgb(53, 47, 47);
}


.simDiv {
  width: 380px;
  height: 50px;
  padding: 32px;
  margin: 16px;
  display: inline-block;
}
/* simON Freitags Aufgabe */

/* White Nav */
.navbar2 {
  font-family: Roboto;
  font-weight: bold;
  color: black;
  background-color: white;
  display: flex;
  gap: 12px;
  padding: 10px 10px 20px 10px;
  text-align: center;

}
/* Yellow Box */
.yellowBox {
background-color: #FFFF00;
padding: 16px;
}
.titlePurple {
font-family: RubikBlack;
color: white;
}
.titlePurple span {
  background-color: #8F1CD6;
  margin: 32px;
}

#simHead {
  font-family: Roboto;
}
.fa-check {
  color: #8F1CD6;
}
.fa-ul {
 font-family: Roboto;
 font-weight:bold
}