html {
    font-size: 20px;
  }
   body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    a {
color: #E9B3FB
    }
  }
   a:visited{
    color: aqua;
  }
  A:hover{
    color: #FFF1F1;
  }

  .label {
background-color: #111;
display: flex;
border-radius: 50px;
height: 26px;
width: 50px;
  }


.fa-moon{
color: blue;

}

.fa-sun{
  color: yellow;
}