html {
    font-size: 20px;
  }
   body {
    background-color: #260d49;
    color: #FFF1F1;
    font-family: 'Courier New', Courier, monospace;
    a {
color: #E9B3FB
    }
  }
  a:visited{
    color: aqua;
  }
  
  A:hover{
    color: #FFF1F1;
  }
  