html {
    font-size: 20px;
  }
   body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    a { color: #E9B3FB}
   }
   
a { color: #E9B3FB }

a:visited{
    color: palevioletred;
  }
a:hover{
    color: #FFF1F1;
  }