/* ====== FONTS ====== */
@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2) format("woff2"),
       url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2) format("woff2"),
       url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),
       url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ====== GLOBALS ====== */
* {
  font-family: Vodafone, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

/* ====== CSS CUSTOM PROPERTIES ====== */
 :root {
  --gutter: 20px;
  --grid-gap: 14px;
  --grid-template-columns: 100%;
} 

 @media screen and (min-width: 768px) {
  :root {
    --grid-gap: 32px;
    --grid-template-columns: 1fr 1fr;
  }
} 

/* ====== GRID ====== */
  .grid {
  display: grid;
  grid-template-columns:var(--grid-template-columns);
  grid-gap: var(--grid-gap);
  margin: var(--gutter);
} 

/* ====== CARD VARIANTS ====== */
.card {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
  padding: var(--gutter);
}

.card-Large {
  grid-row: span 2;
  display: flex;
  gap: var(--gutter);
  flex-direction:column
}

.card-Small {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--gutter);
}

.content{
  flex: 1 1 0%;
}

.image {
  flex: 1 1 0%;
}
.card-Small .image{
  max-width: 230px;
}
.card-Large .image{
  max-height: 280px;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.card-Large .image img{
  margin-top: -90px;
}

/* ====== CARD HEADLINES ====== */
.card-Large h2 {
  font-size: 28px;
  margin: 20px 0;
}

.card-Small h2 {
  font-size: 22px;
  margin: 16px 0 12px;
}

/* ====== PRICES ====== */
.price-Container {
  padding-bottom: var(--gutter);
}

.price-Num-Euro {
  display: inline-flex;
}

.price-Num-Euro-Small {
  margin-top: calc(var(--gutter) * -1);;
  padding-top: var(--gutter);
}

.price-Numbers,
.price-Numbers-Small {
  font-size: 48px;
}

.euro-Price {
  font-size: 30px;
}

.price-Desc {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: var(--gutter);
}

.price-Desc-Small {
  font-size: 16px;
  gap: 12px;
}

/* ====== BADGES ====== */
.badge {
  font-weight: 700;
  width: fit-content;
  padding: 10px 18px;
  border-radius: 20px;
  background-color: #fecb00;
}

/* ====== LINKS ====== */
.card a{
  display: block;
  margin-top: var(--gutter);
  color: #bd0000;
  text-decoration: none;
  font-size: 18px;
}





