/* ====== FONTS ====== */
@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2) format("woff2"),
       url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2) format("woff2"),
       url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),
       url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ====== GLOBALS ====== */
* {
  font-family: Vodafone, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

/* ====== CSS CUSTOM PROPERTIES ====== */
 :root {
  --grid-gap: 14px;
  --grid-template-columns: 100%;
} 

 @media screen and (min-width: 768px) {
  :root {
    --grid-gap: 32px;
    --grid-template-columns: 1fr 1fr;
    --grid-template-rows: repeat(3, 280px);
  }
} 

/* ====== GRID ====== */
 /* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:repeat(3, 280px);
  margin:30px;
  gap: 32px;
}  */
 .grid {
  display: grid;
  grid-template-columns:var(--grid-template-columns);
  grid-gap: var(--grid-gap);
  grid-template-rows:var(--grid-template-rows) ;
  margin: 30px;
} 

/* ====== CARD VARIANTS ====== */
.card-Large,
.card-Small {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
  padding: 20px;
}

.card-Large {
  width: 100%;
  grid-row: span 2;
}

.card-Small {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 5px;
}

/* ====== CARD IMAGE ELEMENTS ====== */
.card-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-top: -90px;
}

.image-Mask {
  height: 280px;
  overflow: hidden;
  border-radius: 6px;
}

.card-Image-Small img {
  width: 200px;
  height: 230px;
  object-fit: cover;
  border-radius: 6px;
}

.card-Mask-Small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px -5px;
  width: 220px;
  height: 230px;
  overflow: hidden;
  border-radius: 6px;
}

/* ====== CARD HEADLINES ====== */
h2.card-Headline-Large {
  margin: 20px 0;
  font-size: 28px;
}

h2.card-Headline-Small {
  font-size: 22px;
  margin: 16px 0 12px;
  white-space: normal;
}

/* ====== CARD CONTENT ====== */
.card-Content-Small {
  padding: 0 12px 0 0;
  text-align: center;
}

/* ====== PRICES ====== */
.price-Container {
  padding-bottom: 20px;
}

.price-Num-Euro {
  display: inline-flex;
}

.price-Num-Euro-Small {
  margin-top: -20px;
  padding-top: 20px;
}

.price-Numbers,
.price-Numbers-Small {
  font-size: 48px;
}

.euro-Price {
  font-size: 30px;
}

.price-Desc {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price-Desc-Small {
  font-size: 16px;
  gap: 12px;
}

/* ====== BADGES ====== */
.card-Badge-Large {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  width: 190px;
  height: 28px;
  margin-top: 14px;
  padding: 10px 18px;
  border-radius: 20px;
  background-color: #fecb00;
}

.card-Badge-Small {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  width: 285px;
  height: 28px;
  margin-top: 0;
  padding: 10px 18px;
  border-radius: 20px;
  background-color: #fecb00;
}

/* ====== LINKS ====== */
.external-Link {
  margin-bottom: 20px;
}

.external-Link-Small {
  display: block;
  margin-top: 20px;
}

a {
  color: #bd0000;
  text-decoration: none;
  font-size: 18px;
}





