/* =====================================================
   FONTS
===================================================== */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* =====================================================
   CSS VARIABLES / ROOT
===================================================== */

:root {
  --color1: #8c0a42;
  --color2: #be4d0b;
  --color3: #85a60e;
  --color4: #1bbcce;
  --color5: #8e4747;
  --color6: #724c9d;
}

/* =====================================================
   RESET & BASE
===================================================== */

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-size: 1rem;
}
html {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  box-sizing: content-box;
  background-color: rgb(246, 250, 244);
}
/* =====================================================
   HEADER
===================================================== */
.logo-Title-Flex {
  padding: 15px;
}
.header-logo {
  display: flex;
  justify-content: center;
}
.header-logo img {
  width: 10%;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  margin: 1rem 0rem;
}
.header-menu {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 1rem;
}

.header-menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.header-menu a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.menu-pill {
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width:12rem;
}
/* =====================================================
  Banner Image
===================================================== */

.banner-Container {
  position: relative;
  display: flex;
  width: 100%;
  height: 32rem;
  overflow: hidden;
  border-radius: 0 0 200px 200px;
}

.banner-Container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =====================================================
   Stoerer
===================================================== */

.stoerer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  rotate: -5deg;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  background-color: #ea723b;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  box-shadow:
    0px 10px 13px -7px #000000,
    -15px 31px 45px -14px rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 40rem;
  z-index: 10;
  margin: 1rem;
}

/* =====================================================
   Texte
===================================================== */
.info__Text {
  max-width: 900px;         
  margin: 2rem auto;            
  padding: 2rem 1.5rem;      
  line-height: 1.7; 
  font-size: 1rem;       
  background-color: white;
  border-radius: 20px;
}

.info__Text p {
  margin-bottom: 1.5rem;    
}

.info__Text p:last-child {
  margin-bottom: 0;         
}

/* =====================================================
   MENU ANCHORS
===================================================== */

.menu-Anchors {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 1rem;
  margin: 2rem 28rem;
}
.menu-Anchors svg {
  width: 8rem;
}

.anchor {
  border-radius: 30px;
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
}
.anchor:hover {
  background-color: #ea723b;
}

/* ICONS */
.anchor:hover path.daniel {
  fill: rgb(255, 255, 255);
}

/* =====================================================
  SECTIONS AND CARDS
===================================================== */

.section-Img-Container {
  position: relative;
  height: 40vh;
  border-radius: 30px;
  overflow: hidden;
  margin: 2rem 0rem;
}

.section-Img-Container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marginTEST {
  margin-left: 20rem;
  margin-right: 20rem;
}

.text-Block-Large {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  padding: 3rem;
  font-size: 1rem;
  position: relative;
  margin: 1rem 0rem;
}
.text-Block-Large p,
.text-Block-Small p {
  font-weight: 400;
  padding-top: 1rem;
}

.section-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0rem;
}
 

.text-Block-Small {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 3rem;
  font-size: 1rem;
}

.text-Img img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* =====================================================
  BTN
===================================================== */
.btn {
  background-color: white;
  border: solid 3px #ea723b;
  color: #ea723b;
  font-weight: 600;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  display: inline-block;
}

.btn:hover {
  background-color: #ea723b;
  color: white;
  cursor: pointer;
  box-shadow: 0px 8px 10px 4px rgba(183, 183, 183, 0.5);
  transition: all 0.2s ease-in-out;
}
.twoBtn-Flex {
  display: flex;
  gap: 1rem;
}
/* =====================================================
  FORMULAR
===================================================== */

.mein-Engagement-Title {
  color: white;
  background-color: #ea723b;
  font-weight: 600;
  width: fit-content;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 20px 20px 0 0;
}

.Form-Container {
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 15rem;
  border-radius: 0 0 20px 20px;
  position: relative;
  box-shadow: 0px 8px 10px 4px rgba(183, 183, 183, 0.5);
}

.inputFORMS input,
.name-Part-1 select {
  display: flex;
  justify-content: center;
  width: 100%;

  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin: 0.5rem 0rem;
}

input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.checkBoxes input {
  width: 20px;
  height: 20px;
}
.checkbox-Fieldset {
  margin-bottom: 1rem;
}
.inputFORMS {
  margin: 1rem 0rem;
}

label {
  margin-bottom: 6px;
}

.form-grid {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 1rem;
}

.cat__Deco {
  position: absolute;
  bottom: -260px;
  right: -320px;
  width: 750px;
  pointer-events: none;
  z-index: 99;
}
.dog__Deco {
  position: absolute;
  right: -320px;
  width: 330px;
  top: -100px;
  pointer-events: none;
  z-index: 100;
}

/* SUCESS MESSAGE */

.popover {
 

  background: #ea723b;
  color: #fff;
  padding: 0.75rem 1.2rem;
  border-radius: 8px;
  margin: 1rem;
  white-space: nowrap;
  opacity: 0;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}



/* show popover on click */
.submit-wrapper:focus-within .popover {
  opacity: 1;
  
}


/* =====================================================
  FOOTER
===================================================== */

footer {
  background-color: #174e24;
  width: 100%;
  border-radius: 100px 100px 0 0;
  position: relative;
  color: white;
  display: flow-root;
}

.cat {
  width: 10rem;
  position: absolute;
  right: 8rem;
  top: -8.8rem;
}
.dog {
  width: 10rem;
  position: absolute;
  left: 7rem;
  top: -8.9rem;
}

.footer-Grid {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem;
  padding: 2rem;
}
.footer-Text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-Text p {
  line-height: 1.5;
}
