/* =====================================================
   FONTS
===================================================== */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* =====================================================
   CSS VARIABLES / ROOT
===================================================== */

:root {
  --color1: #8c0a42;
  --color2: #be4d0b;
  --color3: #85a60e;
  --color4: #1bbcce;
  --color5: #8e4747;
  --color6: #724c9d;
}

/* =====================================================
   RESET & BASE
===================================================== */

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

body {
  box-sizing: content-box;
  background-color: white;
}
/* =====================================================
   HEADER
===================================================== */
.logo-Title-Flex {
  padding: 15px;
}
.header-logo {
  display: flex;
  justify-content: center;
}
.header-logo img {
  width: 10%;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.header-menu {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 1rem;
}

.header-menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.header-menu a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-pill {
  background-color: #315044;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 15rem;
  padding: 0 0.5rem 0 0.5rem;
}
/* =====================================================
  Banner Image
===================================================== */

.banner-Container {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  background-color: #1bbcce;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 200px 200px; /* ensures cropped parts don’t overflow container */
}

.banner-Container img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: center;
  top: -300px;
}

/* =====================================================
   Stoerer
===================================================== */

.stoerer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  rotate: -5deg;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  background-color: orange;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  box-shadow:
    0px 10px 13px -7px #000000,
    -15px 31px 45px -14px rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 55rem;
  z-index: 10;
  margin: 1rem;
}

/* =====================================================
   Texte
===================================================== */

.info-Text {
  width: 50%;
  margin: 2rem auto; /* centers the box horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

/* =====================================================
   MENU ANCHORS
===================================================== */

.menu-Anchors {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.anchor {
  border-radius: 30px;
  width: 12%;
  background-color: #315044;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anchor img {
  width: 100%;
  padding: 1rem;
}

/* =====================================================
  SECTIONS AND CARDS
===================================================== */

.section-Img-Container {
  position: relative;
  height: 40vh;
  border-radius: 30px;
  overflow: hidden;
  margin: 2rem 0rem;
}

.section-Img-Container img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: center;
  top: -450px;
}

.marginTEST {
  margin-left: 30rem;
  margin-right: 30rem;
}

.text-Block-Large {
  background-color: #f9f6f6;
  border-radius: 20px;
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  height: 20rem;
  margin: 2rem 0rem;
}
.text-Block-Large p {
  font-weight: 300;
}

.section-Flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.text-Block-Small {
  background-color: #f9f6f6;
  border-radius: 20px;

  padding: 1rem;
  font-size: 1.2rem;
  margin: 2rem 0rem;
}
.text-Block-Small p {
  font-weight: 300;
}

.text-Img img {
  width: 100%;
  border-radius: 20px;
}

/* =====================================================
  BTN
===================================================== */
.btn {
  background-color: white;
  color: orange;
  font-weight: 600;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin: 1rem 0rem;
}

.twoBtn-Flex {
  display: flex;
  gap: 2rem;
}
