@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Darumadrop+One&display=swap");

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background: rgb(238, 236, 236);
  font-family: "Cal Sans", sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Darumadrop One", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
  display: inline-block;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.iconBook,
.iconBorder {
  display: flex;
  justify-content: center;
}
.iconBook {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
.iconBorder {
  background: white;
  width: 65px;
  height: 65px;
  border-radius: 90%;
  padding: 2px;
}

.topTitleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}
.fa-bars {
  font-size: 24px;
}
h1.titleWebsite {
  font-size: 24px;
}
.fa-magnifying-glass {
  font-size: 24px;
}

.searchButton {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
ul.nav__Links {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 430px;
  font-size: 15px;
  font-family: "Darumadrop One", sans-serif;
}
#SALE {
  color: red;
}
.imageHeader {
  width: 430px;
  height: auto;
}

.containerProductCards {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.productCard {
  background: white;
  width: 300px;
  height: 450px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(185, 185, 185);
  position: relative;
}
.bookPic {
  width: 150px;
  height: auto;
  box-shadow: 0 0 10px rgb(145, 145, 145);
  position: relative;
  top: 20px;
  left: 75px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bookName,
.authorName,
.infoBadge,
.bookPrice,
.shippingTime,
.bookRating {
  text-align: center;
  padding: 1.5px;
}
.bookName {
  font-size: 20px;
}

.authorName {
  font-size: 12px;
  padding: 5px;
}
.infoBadge {
  background: rgb(201, 241, 245);
  width: 150px;
  height: 20px;
  position: relative;
  left: 75px;
  border-radius: 8px;
}
.bookPrice {
  font-size: 16px;
}
.shippingTime {
  font-size: 12px;
}
.bookRating {
  position: absolute;
  padding: 10px;
}
.wishListIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.firstHeadline {
  display: flex;
  justify-self: center;
}
.addToCart {
  background-color: rgb(201, 241, 245);
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}
.contentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* testing */
.productCard2 {
  display: flex;
  justify-content: center;
  background-color: cyan;
  width: 300px;
  height: 450px;
}
