@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Darumadrop+One&display=swap");

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background: rgb(238, 236, 236);
  font-family: "Cal Sans", sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Darumadrop One", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
a:hover {
  background-color: rgb(189, 224, 231);
  border-radius: 10px;
  padding: 5px;
}
li {
  list-style-type: none;
  display: inline-block;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.iconBook,
.iconBorder {
  display: flex;
  justify-content: center;
}
.iconBook {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
.iconBorder {
  background: white;
  width: 65px;
  height: 65px;
  border-radius: 90%;
  padding: 2px;
  margin: 10px;
}

.topTitleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}
.fa-bars {
  font-size: 24px;
}
h1.titleWebsite {
  font-size: 24px;
}
.fa-magnifying-glass {
  font-size: 24px;
}

.searchButton {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
ul.nav__Links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 2vw;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 100%;
  font-size: 14px;
  font-family: "Darumadrop One", sans-serif;
}
#SALE {
  color: red;
}
.imageHeader {
  width: 100%;
  max-height: 432px;
  object-fit: cover;
}

.containerProductCards {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
.productCard {
  background: white;
  width: 300px;
  height: 450px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(185, 185, 185);
  position: relative;
}
.bookPic {
  width: 150px;
  height: auto;
  box-shadow: 0 0 10px rgb(145, 145, 145);
}
.bookPicFrame {
  display: flex;
  justify-self: center;
  height: 240px;
  width: 150px;
  overflow: hidden;
  border-radius: 6px;
  margin-top: 32px;
}
.bookName,
.authorName,
.bookPrice,
.shippingTime,
.bookRating {
  text-align: center;
  padding: 1.5px;
}
.bookName {
  font-size: 20px;
}

.authorName {
  font-size: 12px;
  padding: 5px;
}
.infoBadge {
  background: rgb(201, 241, 245);
  width: 150px;
  height: 20px;
  border-radius: 8px;
  text-align: center;
}
.bookPrice {
  font-size: 16px;
}
.shippingTime {
  font-size: 12px;
}
.bookRating {
  position: absolute;
  padding: 10px;
}
.wishListIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.firstHeadline {
  display: flex;
  font-size: 3rem;
  justify-self: center;
}
.addToCart {
  background-color: rgb(201, 241, 245);
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
}
.contentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */
/* @media (min-width: 376px) {
  body {
    background-color: lightgreen;
    color: red;
  }
} */
@media (min-width: 768px) and (max-width: 1020px) {
  .containerProductCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: blue;
  }
  li {
    font-size: 1rem;
  }
}
@media (min-width: 1020px) and (max-width: 4000px) {
  .containerProductCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: rgb(161, 12, 158);
    margin: 2%;
  }
  .infoHeader {
    width: 100%;
    height: auto;
  }
  li {
    font-size: 2rem;
  }
}
.containerGrid {
  padding: 1vw;
}
