@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Darumadrop+One&display=swap");

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background: rgb(238, 236, 236);
  font-family: "Cal Sans", sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Darumadrop One", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
  display: inline-block;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.iconBook {
  width: 45px;
  height: 45px;
  margin: 5px;
  padding: 5px;
}
.iconBorder {
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 90%;
  padding: 2px;
}
h1.mainHeadline {
  display: inline;
  font-size: 25px;
  padding-top: 15px;
}
.iconHeadline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 20px;
}
.fa-magnifying-glass {
  font-size: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

.searchButton {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
ul.nav__Links {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 430px;
  font-size: 15px;
  font-family: "Darumadrop One", sans-serif;
}
li {
    border-left: 2px black solid;
    border-right: 2px black solid;
    padding: 2px;
}
.imageHeader {
  width: 430px;
  height: auto;
}

.containerProductCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.productCard {
  background: white;
  gap: 20px;
  border: 5px rgb(0, 255, 76) solid;
}
.bookPic {
  width: 10rem;
  height: auto;
  border: 5px red solid;
}
.bookName {
  font-size: 24px;
}
.authorName {
  font-size: 12px;
}
.infoBadge {
  background: yellow;
  border: 1px;
  border-radius: 6px;
}
.bookPrice {
}
.shippingTime {
}
.bookRating {
}
.wishListIcon {
}
