/* =====================================================
   RESET & BASE
===================================================== */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: url("cursor.png"), auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text_color);
  box-sizing: content-box;
  font-family: "Noto_regu", sans-serif;
  background-color: rgb(233, 233, 233);
}

/* =====================================================
   FONTS
===================================================== */

@font-face {
  font-family: "Noto_regu";
  src: url(fonts/NotoSans-VariableFont_wdth\wght.ttf);
}

/* =====================================================
   CSS VARIABLES / ROOT
===================================================== */

:root {
  /* mymixx colors */
  --mymixx_1: #f2bb16;
  --mymixx_2: #d9580d;
  --mymixx_3: #9abf11;
  --mymixx_4: #22ddf2;
  --text_color: darkslategrey;

  /* accent colors */
  --colorBasisCer: #bc155e;
  --colorGetrFrue: #d9580f;
  --colorNueSam: #9abf11;
  --colorSuperFo: #20ddf2;
  --colorExtrasuess: #bf5f5f;
  --colorFluessMuePorr: #8c5fbf;

  /* hovers */
  --colorBasisCerHv: #8c0a42;
  --colorGetrFrueHv: #be4d0b;
  --colorNueSamHv: #85a60e;
  --colorSuperFoHv: #1bbcce;
  --colorExtrasuessHv: #8e4747;
  --colorFluessMuePorrHv: #724c9d;
}

/* =====================================================
   THEMES
===================================================== */

.theme-basis {
  --accent-color: var(--colorBasisCer);
  --hover-color: var(--colorBasisCerHv);
}

.theme-getrfrue {
  --accent-color: var(--colorGetrFrue);
  --hover-color: var(--colorGetrFrueHv);
}

.theme-nueSam {
  --accent-color: var(--colorNueSam);
  --hover-color: var(--colorNueSamHv);
}

.theme-superFood {
  --accent-color: var(--colorSuperFo);
  --hover-color: var(--colorSuperFoHv);
}

.theme-xtraSuess {
  --accent-color: var(--colorExtrasuess);
  --hover-color: var(--colorExtrasuessHv);
}

.theme-Fluessig {
  --accent-color: var(--colorFluessMuePorr);
  --hover-color: var(--colorFluessMuePorrHv);
}

/* =====================================================
mainGRID
===================================================== */
.productCard__Grid {
  
}
.main__Grid {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
  margin: 1rem;
  margin-right: 1rem;
}

/* mobile viewport */
@media (max-width: 767px) {
  .main__Grid {
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
  }
}
/* =====================================================
   HEADER
===================================================== */

/* =====================================================
   BUTTONS
===================================================== */
.btn-selected {
  background-color: transparent;
  border: 2px solid white; /* uses theme variable */
}

.btn {
  background-color: var(--anchor-color);
  color: white;
  font-weight: bold;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-top: 0;
}
.btn-leveling {
  margin-bottom: 3rem;
}
.btn:hover {
  background-color: var(--hover-color);
  transition: 0.2s;
}

/* =====================================================
   PRODUCT GRID & CARDS
===================================================== */

.product__Card {
  display: flex;
  background-color: white;
  max-width: 350px;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  gap: 1rem;
}

.product__Image {
  background-color: rgb(203, 203, 203);
  padding: 1rem;
  border-radius: 20px;
}
.product__content {
  align-items: center;
  display: flex;

  flex: 1;
}

.product__textcontent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 600;
}
.product__AddToCartBtn {
  background-color: var(--accent-color);
  border-radius: 50px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.product__AddToCartBtn img {
  width: 30px;
}
.product__Price {
  display: flex;
  justify-content: center;
  color: white;
  width: 60px;
  padding: 0.5rem;
  background-color: var(--accent-color);
  border-radius: 15px;
  font-weight: 600;
}

/* =====================================================
   FOOTER
===================================================== */

footer {
  background-color: var(--colorNueSam);
  display: flow-root;
}

footer ul,
footer ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footwrap {
  width: 80%;
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

footer section {
  margin-top: 2rem;
}

footer section ul li a {
  font-size: 0.8rem;
}

footer section#siegel ul,
footer section#socmed ul {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  grid-template-rows: 2rem 2rem 2rem;
  gap: 2rem;
}

footer section ul li a img {
  width: 300%;
  padding-top: 1rem;
}

footer section ul li a img:hover {
  cursor: grab;
}
