/* =====================================================
   RESET & BASE
===================================================== */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: url("cursor.png"), auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text_color);
  box-sizing: content-box;
  font-family: "Noto_regu", sans-serif;
}
main {
  background-color: rgb(243, 243, 243);
}

h4 {
  font-family: "Pally-Variable";
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: 0.5rem 0rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* =====================================================
   FONTS
===================================================== */

@font-face {
  font-family: "Noto_regu";
  src: url(fonts/NotoSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Pally-Variable";
  src: url("fonts/Pally-Variable.ttf") format("truetype");
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

/* =====================================================
   CSS VARIABLES / ROOT
===================================================== */

:root {
  /* mymixx colors */
  --mymixx_1: #f2bb16;
  --mymixx_2: #d9580d;
  --mymixx_3: #9abf11;
  --mymixx_4: #22ddf2;
  --text_color: darkslategrey;

  /* accent colors */
  --colorBasisCer: #bc155e;
  --colorGetrFrue: #d9580f;
  --colorNueSam: #9abf11;
  --colorSuperFo: #5284f1;
  --colorExtrasuess: #bf5f5f;
  --colorFluessMuePorr: #9d62ea;

  /* hovers */
  --colorBasisCerHv: #8c0a42;
  --colorGetrFrueHv: #be4d0b;
  --colorNueSamHv: #85a60e;
  --colorSuperFoHv: #3a6dda;
  --colorExtrasuessHv: #8e4747;
  --colorFluessMuePorrHv: #724c9d;
}

/* =====================================================
   THEMES
===================================================== */

.theme-basis {
  --accent-color: var(--colorBasisCer);
  --hover-color: var(--colorBasisCerHv);
}

.theme-getrfrue {
  --accent-color: var(--colorGetrFrue);
  --hover-color: var(--colorGetrFrueHv);
}

.theme-nueSam {
  --accent-color: var(--colorNueSam);
  --hover-color: var(--colorNueSamHv);
}

.theme-superFood {
  --accent-color: var(--colorSuperFo);
  --hover-color: var(--colorSuperFoHv);
}

.theme-xtraSuess {
  --accent-color: var(--colorExtrasuess);
  --hover-color: var(--colorExtrasuessHv);
}

.theme-Fluessig {
  --accent-color: var(--colorFluessMuePorr);
  --hover-color: var(--colorFluessMuePorrHv);
}

/* =====================================================
NAVIGATION
===================================================== */
.nav__Container {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  width: 30px;
}
.header__logo {
  width: 100px;
}

/* =====================================================
mainGRID
===================================================== */

.product__Card__Grid {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: start;
}
/* =====================================================
   ANCHOR
===================================================== */
.Anchor {
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
  border-radius: 0px 15px 15px 0px;
  width: fit-content;
}

.Headline {
  padding: 1rem;
  font-size: 1.5rem;
}
/* =====================================================
   BUTTON
===================================================== */
.btn {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  display: flex;
  font-size: 1.2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  margin-top: 1rem;
}

.btn:hover {
  background-color: var(--hover-color);
  transition: 0.2s;
}

.btn-secondary {
  border: 2px solid var(--accent-color);
  background-color: white;
  color: var(--accent-color);
  font-weight: bold;
  display: flex;
  font-size: 1.2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  margin-top: 1rem;
  text-wrap: nowrap;
}
.btn-secondary:hover {
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.2s;
}
/* =====================================================
   MAIN GRID
===================================================== */
.mainGrid {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 2rem 2rem 2rem 0rem;
}
/* =====================================================
   PRODUCTCARD
===================================================== */

.product__Card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  gap: 1rem;
}

.product__Image {
  background-color: rgb(242, 241, 241);
  padding: 1rem;
  border-radius: 20px;
}
.product__content {
  align-items: center;
  display: flex;
  flex: 1;
}

.product__textcontent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 600;
}
.product__AddToCartBtn {
  background-color: var(--accent-color);
  border-radius: 50px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.product__AddToCartBtn img {
  width: 30px;
}
.product__Price {
  display: flex;
  justify-content: center;
  color: white;
  width: 60px;
  padding: 0.5rem;
  background-color: var(--accent-color);
  border-radius: 15px;
  font-weight: 600;
}

/* =====================================================
   CART
===================================================== */
.cart__Container {
  background-color: white;
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0.2rem;
}

.cart__item__Container {
  max-height: 15rem;
  overflow-y: auto;
}
.cart__item {
  color: white;
  background-color: rgb(100, 100, 100);
  padding: 1rem;
  margin: 1rem 0rem;
  height: 100%;
  max-height: 60px;
  border-radius: 20px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cart__item__price {
  background-color: #a5a5a5;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.cart__item__image {
  width: 50px;
  height: 50px;
  margin: 1rem;
  padding: 0.2rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f4f4f4;
}
.cart__item__image img {
  width: 100%;
  object-fit: cover;
}
.cart__item__counter {
  background-color: white;
  border: 2px solid rgb(234, 234, 234);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}

.cart__item__remove {
  background-color: white;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__item__remove svg {
  width: 25px;
}
.cart__total__Container {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 700;
  max-height: 60px;
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}
.cart__total__Container svg {
  width: 33px;
}
.cart__total__Container p {
  font-size: 1.2rem;
}

.cart__total {
  background-color: #f2f1f1;
  color: var(--mymixx_3);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50px;
}
.cart__Inner__Container {
  background-color: #f1f1f1;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

/* =====================================================
  FORM
===================================================== */
.legend__headline {
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  font-family: "Pally-Variable";
  font-size: 1.2rem;
}

.personalData {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.personalData label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.abholung select,
.personalData input {
  background-color: white;
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 12px;
  border: 1.5px solid rgb(225, 225, 225);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.abholung select,
.personalData input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input__Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personalDataRow {
  display: flex;
  gap: 1rem;
}

/* https://codingartistweb.com/2021/07/custom-input-date-css-tutorial/ */

input[type="date"] {
  background-color: white;
  padding: 15px;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: var(--mymixx_3);
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="white" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

/* =====================================================
  CHECKOUT
===================================================== */
.checkout__Container {
  background-color: white;
  max-width: fit-content;
  padding: 2rem;
}

.checkout__Flex {
  display: flex;
  line-height: 1.7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkout__Btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-direction: row;
}
/* =====================================================
   FOOTER
===================================================== */

footer {
  background-color: var(--colorNueSam);
  display: flow-root;
}

footer ul,
footer ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footwrap {
  width: 80%;
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

footer section {
  margin-top: 2rem;
}

footer section ul li a {
  font-size: 0.8rem;
}

footer section#siegel ul,
footer section#socmed ul {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  grid-template-rows: 2rem 2rem 2rem;
  gap: 2rem;
}

footer section ul li a img {
  width: 300%;
  padding-top: 1rem;
}

footer section ul li a img:hover {
  cursor: grab;
}
