@font-face {
  font-family: "Noto_regu";
  src: url(fonts/NotoSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Noto_ital";
  src: url(fonts/NotoSans-Italic-VariableFont_wdth\wght.ttf);
}

:root {
  --mymixx_1: #f2bb16;
  --mymixx_2: #d9580d;
  --mymixx_3: #9abf11;
  --mymixx_4: #22ddf2;
  --text_color: darkslategrey;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  height: 100vh;
 font-size: 17px;
}

body {
  color: var(--text_color);
  box-sizing: content-box;
  font-family: "Noto_regu", sans-serif;
  background-color: #FDF4D7;
}

.blueHeader {
    width: 100%;
    height: 60px;
    background-color: #22ddf2;
}

.logoCircle {
    background-color: white ;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sucessBox {
    background-color:#E8F4D5;
    box-shadow: 5px 10px 10px rgb(178, 177, 177);
    height: 30rem;
    width: 40rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sucessTick {
font-size: 160px;
}

/* text */
.headlineSucess{
padding: 10px;
}
.descriptionSucess {
padding: 10px;
font-size: 0.75rem;
font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
}
.textBoldSuccess{
padding: 10px;
font-size: 0.875rem;
font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}
.textnormSuccess{
padding: 10px;
text-align: center;
}

.btn {
  display: flex;
  background-color: #f2bb16;
  width: 11.5625em;
  height: 2em;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btnSec {
  display: flex;
  background-color: transparent;
  border: 1px solid #f2bb16 ;
  width: 185px;
  height: 32px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btn:hover {
  background-color: #e7b01a;
  transition: 0.2s;
}

.btnSec:hover {
    background-color: #e7b01a;
    transform: 0.2s;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.sucessBoxButtonFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}