h1 {
  font-size: 50px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 100px;
  }
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 10px;
}
p {
  font-size: 8px;
}

img {
  width: 20vw;
  height: 30vw;
}
img.lachspic {
  width: 60vw;
  height: auto;
}
.lachsEins {
  font-size: 10em;
}
@media screen and (min-width: 768px) {
  img.bild1 {
    width: 40vw;
    height: 60vw;
  }
}

body {
  font-size: 6px;
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

h1 {
  font-size: 4.5em;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 3.5em;
}
h4 {
  font-size: 3em;
}
h5 {
  font-size: 2.5em;
}
h6 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

.pageContainer {
  margin-left: 10px;
  margin-right: 10px;
}
.card0,
.card1,
.card2,
.card3,
.card4 {
  background-color: lavender;
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 32px;
}
.card2 {
  grid-column: 2;
  grid-row: 1/3;
}
.card4 {
  grid-column: span 2;
  grid-row: 3;
}

@media (min-width: 1000px) {
  .pageContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
}
