@font-face {
  font-family: "Noto_regu";
  src: url(fonts/NotoSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Noto_ital";
  src: url(fonts/NotoSans-Italic-VariableFont_wdth\wght.ttf);
}

/* VARIABLE COLOR __PRODUCTCARDS */
:root {
  --mymixx_1: #f2bb16;
  --mymixx_2: #d9580d;
  --mymixx_3: #9abf11;
  --mymixx_4: #22ddf2;
  --text_color: darkslategrey;
  --colorBasisCer: #a60c4f;
  --clrPrdCrdClrBlckBasic: #a27c8d;
  --colorGetrFrue: #d9580f;
  --clrPrdCrdClrBlckGtFr: #ad897a;
  --colorNueSam: #9abf11;
  --clrPrdCrdClrBlckNSm: #94ad7a;
  --colorSuperFo: #20ddf2;
  --clrPrdCrdClrBlckSprFds: #7aada8;
  --colorExtrasuess: #bf5f5f;
  --clrPrdCrdClrBlckXtrSss: #ad7a7a;
  --colorFluessMuePorr: #8c5fbf;
  --clrPrdCrdClrBlckFlssMPrr: #9b7aad;
  --colorprdCard: #f2eee2;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;

  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

body {
  color: var(--text_color);
  box-sizing: content-box;
  font-family: "Noto_regu", sans-serif;
  background-color: #fdf4d8;
}

/* A <div popover> does NOT behave like a normal element in the layout flow.
When opened, it becomes a top-layer element, just like a modal or tooltip.

👉 That means:

It does NOT stay inside your .popover-Flex container

It does not follow flex positioning

It appears where the browser thinks it should, unless you position it manually

So your justify-content: flex-end; does nothing. */
#my-popover {
  inset: auto;
  /* inset:auto means "dont auto place me browser!" */
  position: fixed;
  background-color: #ffffff;
  height: 100%;
  width: 30%;
  right: 0;
  border-top-left-radius: 15px;
  text-align: center;
}
.closePopOver__Flex {
  display: flex;
  justify-content: space-between;
}
.closePopOver {
  color: rgb(124, 124, 124);
  padding-right: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* removes gray box */
  cursor: pointer;
}
.itemSummaryCard {
  background-color: #a60c4f;
  width: 400px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.itemSummaryCard p {
  color: white;
  font-weight: 800;
}
.itemSummaryCardImageBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.3);
  width: 55px;
  height: 55px;
  border-radius: 50px;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
.itemSummaryCardImageBubble img {
  width: 40px;
  height: 40px;
}
.itemDeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 16px;
}
.blueCounterBubble2 {
  position: absolute;
  top: 2px;
  left: 50px;
  background-color: #20ddf2;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
}
.yellowOverlayBadge {
  display: flex;
  background-color: var(--mymixx_1);
  width: 60px;
  height: 40px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 15px;
  align-items: center;
  justify-content: center;
}
.yellowOverlayBadge img {
  width: 30px;
  height: 30px;
}
.itemBubblePlusTextFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.itemText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 18px;
}
.itemSummaryCardBackground {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* Scrollable flex containers should almost never use justify-content: center. */
  background-color: #f4ead5;
  width: fit-content;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  max-height: 300px; /* adjust to your pop-over size */
  overflow-y: auto; /* enables vertical scrolling */
  margin-left: 70px;
}
.itemSummaryMainPrice {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  align-items: center;
  font-weight: 600;
}
.itemSummaryDate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.BOXTEST {
  display: flex;
  justify-content: center;

}
.itemSummaryDate p {
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
}
.dateBox {
  background-color: #f4ead5;
  width: 500px;
  border-radius: 20px;
   margin-bottom: 20px;

}
.date__Flex {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 10px 30px;
 
}
.dateOption {
  display: flex;
  gap: 5px;
}
input[type="radio"] {
  accent-color: var(--mymixx_2);
}

.itemSummaryPersonField {
  font-family: "Noto_regu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.itemSummaryPersonField input {
  border: inset 5px rgb(208, 208, 208);
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  height: 30px;
}
.legalText {
  font-size: 10px;
  margin-bottom: 10px;
  color: gray;
}

nav#blueBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.blueHeader {
  width: 100%;
  height: 80px;
  background-color: #22ddf2;
}

.logoCircle {
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 20px;
  background-color: #f2bb16;
  width: 11.5625em;
  height: 2em;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.notification {
  margin-left: 32px;
  margin-top: 150px;
  margin-bottom: 32px;
  background-color: #fffbee;
  border: 4px solid #f2bb16;
  width: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#notifHeadline {
  padding: 15px;
  padding-left: 0px;
}
#notifText {
  padding: 20px;
  padding-top: 0;
  font-size: 15px;
}
.notifCircle {
  background-color: #fff5d7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.fa-exclamation {
  font-size: 30px;
}

.headlineExlcamationContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.categoryAnchor {
  background-color: var(--anchor-color);
  color: white;
  height: 62px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: inline-block;
  margin-bottom: 50px;
}
.categoryHeadline {
  padding: 10px;
  font-size: 32px;
}
.section__GRID {
  display: grid;
  gap: 50px;
}
.productCard__GRID {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.productCard {
  background-color: var(--colorprdCard);
  width: 210px;
  height: 280px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 24px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.productCard.selected {
  border: 3px solid var(--accent-color);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
}
.productCard.selected .productCard__colorBlock button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
}
.productCard.selected .productCard__colorBlock {
  border-left: 3px solid var(--accent-color);
  border-right: 3px solid var(--accent-color);
}

.productCard__colorBlock {
  flex-direction: column;
  align-items: end;
  background-color: var(--card-block);
  width: 210px;
  height: 160px;
  margin-top: auto;
  text-align: center;
}
/* This works because:
.productCard is a flex container with flex-direction: column
margin-top: auto absorbs all remaining vertical space above the color block
The block stays at the bottom without changing its height */
.productCard__colorBlock p {
  color: white;
  font-weight: 600;
  transform: translateY(40px);
  padding-top: 5px;
}
.productCard__colorBlock button {
  margin: 5px;
  color: white;
  background-color: var(--accent-color);
  width: 140px;
  height: 40px;
  border-radius: 5px;
  transform: translateY(50px);
  font-weight: bold;
  font-size: 20px;
}

.productCard__priceBadge {
  background-color: var(--accent-color);
  padding: 4px;
  color: white;
  width: 70px;
  height: 60px;
  border-bottom-left-radius: 177px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.productCard__priceBadge p {
  transform: translateX(7px);
  transform: translateY(-5px);
  font-size: 20px;
}
/* 👉 translateY() literally means “move this element up or down.” */

.productCard__weightBadge {
  background-color: var(--accent-color);
  color: white;
  width: 70px;
  height: 40px;
  border-top-left-radius: 15px;
  position: absolute;
  left: 15px;
  top: 0;
  transform: translateY(12px);
}
.productCard__weightBadge p {
  text-align: center;
  transform: translateY(9px);
  font-size: 20px;
}
.productCard__IMG img {
  width: 110px;
  height: 110px;
}
.productCard__IMG {
  position: absolute;
  top: 60px;
}
.productCard__Headline {
  color: white;
}

.theme-basis {
  --anchor-color: var(--colorBasisCer); /* Category block */
  --card-block: var(--clrPrdCrdClrBlckBasic); /* Product color block */
  --accent-color: var(--colorBasisCer); /* Buttons & badges */
}

.theme-getrfrue {
  --anchor-color: var(--colorGetrFrue);
  --card-block: var(--clrPrdCrdClrBlckGtFr);
  --accent-color: var(--colorGetrFrue);
}
.theme-nueSam {
  --anchor-color: var(--colorNueSam);
  --card-block: var(--clrPrdCrdClrBlckNSm);
  --accent-color: var(--colorNueSam);
}
.theme-superFood {
  --anchor-color: var(--colorSuperFo);
  --card-block: var(--clrPrdCrdClrBlckSprFds);
  --accent-color: var(--colorSuperFo);
}
.theme-xtraSuess {
  --anchor-color: var(--colorExtrasuess);
  --card-block: var(--clrPrdCrdClrBlckXtrSss);
  --accent-color: var(--colorExtrasuess);
}
.theme-Fluessig {
  --anchor-color: var(--colorFluessMuePorr);
  --card-block: var(--clrPrdCrdClrBlckFlssMPrr);
  --accent-color: var(--colorFluessMuePorr);
}
.stickyOverlayButton {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  right: 40px;
  bottom: 80px;
  z-index: 9999;
}

.yellowCircleSticky {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mymixx_1);
  border-radius: 50px;
  height: 80px;
  width: 80px;
  box-shadow: 5px 5px 10px 1px rgb(55, 55, 55);
  cursor: pointer;
}
.yellowCircleSticky img {
  width: 50px;
  height: 50px;
}
.blueCounterBubble {
  position: absolute;
  top: 2px;
  right: -6px;
  background-color: #20ddf2;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

details {
  background-color: #22ddf2;
  color: white;
  border: 1px solid #ffffff;
  padding: 10px;
}

details ul {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 32px;
  padding-bottom: 25px;
  font-size: 18px;
}
summary {
  font-weight: bold;
  font-size: 24px;
  padding: 0.5em;
}

details[open] {
  padding: 10px 20px 0 20px;
}

details[open] summary {
  border-bottom: 2px solid #ffffff;
}

footer {
  min-height: 10rem;
  background-color: var(--colorNueSam);
}

footer ul li {
  list-style-type: none;
}

footer ul {
  padding-left: 0;
  margin-left: 0;
}

#footwrap {
  width: 80%;
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

footer section {
  margin-top: 2rem;
}
footer section ul li a {
  font-size: 0.8rem;
}

footer section#siegel ul,
footer section#socmed ul {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  grid-template-rows: 2rem 2rem 2rem;
  gap: 2rem;
}

footer section ul li a img:hover {
  cursor: grab;
}

footer section ul li a img {
  width: 300%;
  padding-top: 1rem;
}
