@font-face {
  font-family: "Noto_regu";
  src: url(fonts/NotoSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Noto_ital";
  src: url(fonts/NotoSans-Italic-VariableFont_wdth\wght.ttf);
}

:root {
  --mymixx_1: #f2bb16;
  --mymixx_2: #d9580d;
  --mymixx_3: #9abf11;
  --mymixx_4: #22ddf2;
  --text_color: darkslategrey;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  height: 100vh;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

body {
  color: var(--text_color);
  box-sizing: content-box;
  font-family: "Noto_regu", sans-serif;
  background-color: #4d4d4d;
}
nav#blueBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.blueHeader {
  width: 100%;
  height: 60px;
  background-color: #22ddf2;
}

.logoCircle {
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 20px;
  display: flex;
  background-color: #f2bb16;
  width: 11.5625em;
  height: 2em;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.notification {
  margin-top: 150px;
  margin-left: 42px;
  background-color: #fffbee;
  border: 2px solid #f2bb16;
  width: 30%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
}

#notifHeadline {
  padding: 15px;
  padding-left: 0px;
}
#notifText {
  padding: 20px;
  padding-top: 0;
  font-size: 15px;
}
.notifCircle {
  background-color: #fff5d7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.fa-exclamation {
  font-size: 30px;
}

.headlineExlcamationContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.categoryAnchor {
  background-color: #a70c4f;
  color: white;
  height: 42px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: inline-block;
}
.categoryHeadline {
  padding: 10px;
}

.productCard {
  margin-left: 40px;
  margin-top: 40px;
  background-color: #f2eee2;
  width: 190px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 24px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.productCard__colorBlock {
  flex-direction: column;
  align-items: end;
  background-color: #a27c8d;
  width: 190px;
  height: 130px;
  margin-top: auto;
}
.productCard__priceBadge {
  background-color: #a70c4f;
  padding: 5px;
  color: white;
  width: 70px;
  height: 60px;
  border-bottom-left-radius: 177px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.productCard__priceBadge p {
  transform: translateY(-7px);
  padding: 5px;
}
/* 👉 translateY() literally means “move this element up or down.” */

.productCard__weightBadge {
  background-color: #a70c4f;
  color: white;
  width: 60px;
  height: 30px;
  border-top-left-radius: 15px;
  position: absolute;
  left: 10px;
  top: 0;
  transform: translateY(12px);
}
.productCard__weightBadge p {
  text-align: center;
  transform: translateY(6px);
font-size: 16px;
}
.productCard__IMG img {
  width: 100px;
  height: 100px;
}
.productCard__IMG {
  position: absolute;
  top: 65px;
}
.productCard__Headline {
  color: white;
}
/* This works because:
.productCard is a flex container with flex-direction: column
margin-top: auto absorbs all remaining vertical space above the color block
The block stays at the bottom without changing its height */
