/* =====================================================
   RESET
===================================================== */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
   background-color: var(--background-color);
}

body {
  box-sizing: content-box;
}
main {
 
}

input,
button,
textarea,
select {
  font: inherit;
}

/* =====================================================
   FONTS & BASE
===================================================== */
@font-face {
  font-family: Playfair_Display;
  src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: Playfair_Display_Italic;
  src: url(fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Great_Vibes;
  src: url(fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

:root {
  --text-color: #686868;
  --accent-color-pink: #f7babc;
  --accent-color-darkpink: #f28c90;
  --accent-color-lightpink: #FFEEEF;
  --background-color: #f2f9ff;
  --text-color-gold: #f7d570;
  --text-color-negative: white;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--accent-color-darkpink);
  height: 5rem;
}

h1 {
  font-family: "Great_Vibes";
  color: var(--accent-color-darkpink);
  font-size: 4rem;
}

h2 {
    font-family: "Great_Vibes";
    color: var(--text-color-gold);
    font-size: 3rem;
}

p {
  font-family: "Playfair_Display";
  color: var(--text-color);
  font-size: 1.2rem;
}
.p_pink {
  color: var(--accent-color-darkpink);
  font-style: italic;
  margin-top: 1rem;
}
.p_white {
  color: var(--text-color-negative);
}
.Gast {
  font-family: "Great_Vibes";
  font-size: 1.5rem;
}

/* =====================================================
   HEADER
===================================================== */

header {
  height: 100vh;
  background-image: url(img/Bild_3.jpg);
}
.header__Container {
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 300px 300px;
}

.header__textContent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
  margin: 5rem 2rem;
}

.header__InfoContainer {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  text-align: center;
}

/* =====================================================
   IMAGE GALLERY
===================================================== */

.image__Gallery__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2rem 0rem;
}
.image__Gallery__Container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: var(--accent-color-lightpink);
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}
.image__Gallery {
    position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
margin: 1.5rem 0rem;
}
.image__Frame {
    background-color: var(--accent-color-pink);
    width: 450px;
    height: 700px;
}
.image__Frame img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: white;

}
.gallery__Headline {
    position: absolute;
    bottom: 5px;
    background-color: white;
    text-align: center;
    width: 28%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: #c8c7c7 0px 10px 20px 0px;
}
