/* FONTS */
@font-face {
    font-family: Vodafone;
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
 
@font-face {
    font-family: Vodafone;
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
 
@font-face {
    font-family: Vodafone;
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff) format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}
* {
    font-family: Vodafone, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.white-Card {
    border: black;
    width: min-content;
    margin-top: 5px;
    padding: 20px;
    background:white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(187, 187, 187);
}

h2.headline-Card {
    margin: 20px 0;
    font-size: 28px;
    white-space: nowrap;
}
/*
.card-Image {
     display: flex;
     justify-content: center;
     max-height: 310px;
     max-width: 600px;
     overflow: hidden;
     border-radius: 5px;
}
  */


  .card-Mask {
    height:
    
  }

.card-List {

line-height: 35px;
margin-top: 20px ;
margin-left: 20px;
padding: 0;
font-size: 18px;
}

.price-Numbers, .price-Desc, .euro-Price {
    margin: 2px;
}
.price-Numbers {
    font-size: 48px;
    font-family: Vodafone;
}
.euro-Price {
    font-size: 30px;
}
.price-Desc {
font-size: 20px;
margin-top: 10px auto;
margin-bottom: 20px;
}
.external-Link {
    margin-bottom: 20px;
}
a {
    color: #bd0000;
    text-decoration: none;
    font-size: 18px;
    font-family: Vodafone;
}

