/* FONTS */
@font-face {
    font-family: Vodafone;
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
 
@font-face {
    font-family: Vodafone;
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
 
@font-face {
    font-family: Vodafone;
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);
    src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff) format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}
* {
    font-family: Vodafone, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.white-Card {
    border: black;
    width: min-content;
    margin-top: 5px;
    padding: 20px;
    background:white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(187, 187, 187);
}
.white-Card2 {
    border: black;
    width: min-content;
    margin-top: 5px;
    padding: 20px;
    background:white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(187, 187, 187);
}

h2.headline-Card {
    margin: 20px 0;
    font-size: 28px;
    white-space: nowrap;
}
  .card-Mask {
    height: 280px;
    overflow: hidden;
    border-radius: 6px;
  }
.card-Image img {
    width: auto;
    height: auto;
    margin-top: -90px;
    border-radius: 6px;
}
.card-Mask2 {
    height: 280px;
    overflow: hidden;
    border-radius: 6px;
  }
.card-Image2 {
    background-image: url(img/GigaTV-Sound-Box-dc-h-496x476-dt.jpg);
    background-position: center;
    border-radius: 6px;
}
.card-List {

line-height: 35px;
margin-top: 20px ;
margin-left: 20px;
padding: 0;
font-size: 18px;
}

.price-Numbers, .price-Desc, .euro-Price {
    margin: 2px;
}
.price-Numbers {
    font-size: 48px;
    font-family: Vodafone;
}
.euro-Price {
    font-size: 30px;
}
.price-Desc {
font-size: 20px;
margin-top: 10px;
margin-bottom: 20px;
}
.external-Link {
    margin-bottom: 20px;
}
a {
    color: #bd0000;
    text-decoration: none;
    font-size: 18px;
    font-family: Vodafone;
}

/* Card-Small */

.white-Card-Small {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    padding: 20px;
    background:white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(187, 187, 187);
}
h2.headline-Card-Small {
    margin: 20px 0;
    font-size: 28px;
    white-space: nowrap;
}
.card-Image-Small img {
  width: 400px;
  height: 500px;
  object-fit: cover;
    border-radius: 6px;
}

.card-Mask-Small {
    height: 280px;
    width: 215px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 6px;
}

.card-Content-Small {
padding-right: 32px;
}

.card-Badge-Small {
display: inline-flex;
align-items: center;
width: 270px;
height: 28px;
padding: 6px 18px;
border-radius: 20px;
background-color: #FECB00;
}

.headline-Card-Small {

}

.card-List-Small {

}

.price-Desc-Small {
margin: 4px;
}

.external-Link-Small {

}
